body{
    font-family: Arial;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img{
    width: 100%;
    object-fit: scale-down;
}
/* Navigation */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #786856;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #665848;
}

/* ---------------- */

#page {
    display: grid;
    grid-template-areas:
    "head head"
    "aside  main"
    "foot  foot";
    grid-template-columns: 1fr 3fr;
}

#page > header {
    grid-area: head;
}

#page > aside {
    grid-area: aside;
}

#page > main {
    margin-bottom: 10px;
    grid-area: main;
}

#page > footer {
    grid-area: foot;
}

h1{
    text-align: center;
    color: #786856;
}
h2{
    color: darkgreen;
    text-align: left;
}
a{
    color: green;
}

footer{
    background-color: #786856;
    color: #FFFFFF;
    text-align: center;
    min-height: 30px;
}

article{
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    width: 90%;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.domaine{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    grid-template-areas:
            "image titre titre"
            "image desc desc"
            "image . ."
            "image . lien";
    margin-bottom: 20px;
    border: 1px solid #786856;
    border-radius: 3px;
}
.domaine > img {
    grid-area: image;
    object-fit: cover;
    width: 60%;
    display: block;
    margin: auto;
    border: 1px solid #786856;
}

.domaine > h2{
    grid-area: titre;
}

.domaine > p{
    grid-area: desc;
}

.domaine > a{
    grid-area: link;
}

